.dashboard {
    background-color: black;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

.dashboard_content {
    padding: 60px 150px;
    gap: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    right: -30px;

}

.dashboard_admin-photo {
    width: 200;
    margin: 100px;
}


.dashboard_top-div {
    display: flex;
    flex-direction: column;
    background: rgb(65, 65, 65);
    color: white;
    position: relative;
    padding: 25px;
    width: 300px;
}

.dashboard_top-div__moth-ico {
    background-color: rgb(51, 214, 29);
}

.dashboard_top-div h1 {
    width: 150px;
    font-size: 25px;
}

.dashboard_top-div p {
    opacity: .8;
    font-size: 18px;
    margin-top: 15px;
}

.dahboard_flex {
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
}

.dashboard_top_photo {
    width: 85px;
    margin-top: 25px;
}

.dashboard_top_photo_new {
    width: 95px;
    margin-top: 15px;
}

.dashboard_rev_ioc {
    font-size: 85px;
    color: yellow;
    margin-top: 25px;
}

.dashboard_money_ioc {
    font-size: 60px;
    color: white;
    margin-top: 35px;
}

.dashbaord_top-div_link {
    position: relative;
    left: 2px;
    color: white;
    font-size: 23px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard_med_add-collec {
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard_med-link-varient {
    text-decoration: none;
    width:170px;
    color: rgb(255, 255, 255);
    height: 60px;
    background-color: #0065A3;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    padding: 0 25px 0 25px;
    justify-content: space-between;
}

.dashboard_var-ico {
    font-size: 25px;
}

.dashboard_med-link-varient:hover {
    opacity: .8;
}

.dashboard_varient-fomr_main {
    background-color: black;
    color: white;
    min-height: 100vh;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard_varients_plans {
    display: flex;
    gap: 15px;
}

.dashboard_varient {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard_varient input {
    background-color: transparent;
    border: 1px solid rgb(224, 224, 224);
    padding: 15px;
    font-size: 20px;
    height: 40px;
    color: white;
    margin-top: 25px;
}

.dashboard_varient_btn {
    background-color: rgb(255, 230, 0);
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 55px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;

}

.dashboard_plnas_var-delete-btn {
    background-color: transparent;
    border: none;
}

.dashboard_plnas_var-delete {
    color: red;
    font-size: 25px;
    cursor: pointer;
}