.dashboard {
    background-color: black;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

.dashboard_content {
    padding: 60px 150px;
    gap: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    right: -30px;
}

.dashboard_admin-photo {
    width: 200;
    margin: 100px;
}


.dashboard_top-div {
    display: flex;
    flex-direction: column;
    background: rgb(65, 65, 65);
    color: white;
    position: relative;
    padding: 25px;
    width: 300px;
    border-radius: 25px;

}

.dashboard_top-div:hover {
    background: rgb(87, 87, 87);

}

.dashboard_top-div__moth-ico {
    background-color: rgb(51, 214, 29);
}

.dashboard_top-div__moth-ico:hover {
    background-color: rgb(62, 242, 38);

}

.dashboard_top-div h1 {
    width: 150px;
    font-size: 25px;
}

.dashboard_top-div p {
    opacity: .8;
    font-size: 18px;
    margin-top: 15px;
}

.dahboard_flex {
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
}

.dashboard_top_photo {
    width: 85px;
    margin-top: 25px;
}

.dashboard_top_photo_new {
    width: 95px;
    margin-top: 15px;
}

.dashboard_rev_ioc {
    font-size: 85px;
    color: yellow;
    margin-top: 25px;
}

.dashboard_money_ioc {
    font-size: 60px;
    color: white;
    margin-top: 35px;
}

.dashbaord_top-div_link {
    position: relative;
    left: 2px;
    color: white;
    font-size: 23px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard_med_add-collec {
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard_med-link-varient {
    text-decoration: none;
    width: 170px;
    color: rgb(255, 255, 255);
    height: 60px;
    background-color: #0065A3;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    padding: 0 25px 0 25px;
    justify-content: space-between;
    border-radius: 25px;
}

.dashboard_var-ico {
    font-size: 25px;
}

.dashboard_med-link-varient:hover {
    opacity: .8;
}

.dashboard_plnas_var-delete-btn {
    background-color: transparent;
    border: none;
}

.dashboard_plnas_var-delete {
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.dashboard_bottom {
    display: flex;
    gap: 3%;
}

.dashboard_dayworkout-header {
    opacity: .8;
    font-size: 24px;
    font-weight: bold;
}

.dashboard_workout-list {
    margin: 15px 5px;
}

.dashboard_bottom_dayworkout-div {
    border: 1px solid rgba(255, 255, 255, 0.235);
    padding: 17px 25px 5px 25px;
    border-radius: 25px;
    height: 26.5vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.dashboard_dayworkout-link{
    color: white;
    font-size: 25px;
    margin-top: 20%;
}