.monthPay_table_head {
    font-weight: bold;
    font-size: 25px;
    margin-left: 5px;
}

.monthPay_table_contents {
    padding: 25px;
    height: 60vh;
    border-radius: 25px;
    background-color: rgba(255, 254, 254, 0.089);
    max-width: 92%;
    font-size: 18px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.monthPay_table-head-div{
    display: grid;
    grid-template-columns: 40% 40% 40%;
    font-weight: bold;
    opacity: .8;
    border-bottom: .4px solid rgba(255, 255, 255, 0.129);
    padding: 0px 15px 15px 15px;
}

.monthPay_table_row {
    display: grid;
    grid-template-columns: 40% 40% 40%;
    justify-content: space-between;
    padding: 15px 15px;
    border-bottom: .4px solid rgba(255, 255, 255, 0.129);
}
.monthPay_table-total{
    font-size: 2rem;
    float: right;
    margin: 100px 100px;
    font-weight: bold;
    color: #1487ce;

}