.member-container {
    height: 100vh;
    background-color: black;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.member-content {
    padding: 50px 100px;
}

.meber_header_name {
    font-size: 35px;
    margin-bottom: 10px;
}

.member_header-info {
    opacity: .7;
}

.member_plan-header {
    margin-top: 30px;
}

.member_plan-info {
    margin-top: 10px;
    opacity: .9;
}

.member_abbse-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.member_pay-btn{
    margin-top: 25px;
    background-color: #0065A3;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    float: right;
}
.member_pay-btn:hover{
    opacity: 0.8;
    padding: 10.5;
    margin-bottom: -1px;
}