@media (width > 800px) {
  .finish-profile_nomember_back-ico {
    font-size: 30px;
    margin: 50px;
  }

  .finish-profile_nomember_back-link {
    color: black;
    text-decoration: none;
  }

  .finish-profile_nomember-article {
    font-weight: bold;
    font-size: 30px;
    width: 70vw;
    margin: 50px;
  }

  .finish-profile_nomember-hint {
    margin: 50px 50px 20px 50px;
    font-weight: bold;
    font-size: 35px;
    font-family: montserrat-bold;
  }

  .finish-profile_nomember-hint-content {
    margin-left: 50px;
    font-family: 25px;
    font-weight: bold;
  }

  .finish-profile_form {
    background-color: black;
    height: 100%;
    color: white;
  }

  .finish-profile_oops {
    position: absolute;
    top: 50px;
    font-weight: bold;
    left: 8vw;
    font-size: 22px;
  }

  .finish-profile_logo {
    width: 500px;
    position: absolute;
    bottom: 0vh;
    right: 7vw;
  }

  .finish_profile-comelete-div {
    background-color: rgb(243, 243, 243);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .finish-profile_complete_form {
    display: flex;
    height: 100vh;
    width: 40%;
    max-width: 225px;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }

  .compelete-form_wehi {
    display: flex;
    gap: 2px;
  }
  .finish-profile_gender{
    margin-left: -50%;
  }

}

@media (width < 800px) {
  .finish-profile_oops {
    position: absolute;
    top: 22px;
    font-weight: bold;
    left: 42vw;
    font-size: 22px;
  }

  .finish-profile_nomember_back-ico {
    font-size: 25px;
    margin: 25px;
  }

  .finish-profile_nomember_back-link {
    color: black;
    text-decoration: none;
  }

  .finish-profile_nomember-article {
    font-size: 14px;
    font-weight: bold;
    width: 85vw;
    margin: 30px;
  }

  .finish-profile_nomember-article span {
    position: relative;
    top: 10px;
    font-weight: 400;
  }

  .finish-profile_nomember-hint {
    margin: 60px 30px 20px 30px;
    font-weight: bold;
    font-size: 35px;
    font-family: montserrat-bold;
  }

  .finish-profile_nomember-hint-content {
    margin-left: 30px;
    font-size: 16px;
  }

  .finish-profile_form {
    background-color: black;
    height: 100%;
    color: white;
  }

  .finish-profile_logo {
    width: 250px;
    position: absolute;
    bottom: 0vh;
    right: 0vw;
  }

  .finish_profile-comelete-div {
    background-color: rgb(243, 243, 243);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 25px 0;
  }

  .finish-profile_complete_form {
    display: flex;
    height: 100%;
    width: 80%;
    max-width: 250px;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }

  .compelete-form_wehi {
    display: flex;
    gap: 2px;
  }

  .finsih_profile_compelete-sbmit-btn {
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    color: white;
    background-color: rgb(33, 118, 255);
    font-weight: bold;
    margin-top: 50px;
  }
  .finish-profile_gender{
    margin-left: -60%;
  }
}

.finsih_profile_compelete-sbmit-btn {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 25px;
  color: white;
  background-color: rgb(33, 118, 255);
  font-weight: bold;
  margin-top: 30px;
}

.finsih_profile_compelete-sbmit-btn:active {
  opacity: .7;
}
